.icon-f {
  background: url("../images/Bottom_icon.png");
  display: inline-block;
}
.icon-f-class {
  width: 35px;
  height: 32px;
  &:hover{
    background: url("../images/Bottom_icon2.png");
    width: 35px;
    height: 32px;
  }
}
.icon-f-class2 {
  width: 35px;
  height: 32px;
  background-position: -41px 0px;
  &:hover{
    background: url("../images/Bottom_icon2.png");
    width: 35px;
    height: 32px;
    background-position: -40px 0px;
  }
}
.icon-f-class3 {
  width: 35px;
  height: 32px;
  background-position: -79px 0px;
  &:hover{
    background: url("../images/Bottom_icon2.png");
    width: 35px;
    height: 32px;
    background-position: -79px 0px;
  }
}

.icon-c-v {
  background: url("../images/index-icon-1.png");
  display: inline-block;
}
.icon-c-v1 {
  width: 41px;
  height: 41px;
  &:hover{
    background: url("../images/index-icon-2.png");
  }
}
